<form action="<%= track_notes_url(track) %>" method="post">
  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
	<label for='note_note'>Enter your note, plz:</label>
	<textarea name="note[note]" id="note_note"></textarea>
	<input type="submit" value="Abandon your note">
</form>